.container { padding: 16px; }
.title { font-size: 20px; margin-bottom: 12px; }
.search { width: 50%; display:block; margin-bottom: 12px; }
.full-width { width: 100%; }
mat-paginator { margin-top: 12px; }
